name: vanilla_state
description: A new Flutter project.
version: 0.0.1
homepage: https://github.com/folaoluwafemi/vanilla_state

environment:
  sdk: '>=3.0.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
